.feature-heading {
  font-size: 2rem;
  color: #222;
  font-weight: 800;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
  color: #333;
}
.feature-icon {
  margin-bottom: 3rem;
  border-radius: 50%;
  background-color: #fff4e6;
  padding: 1.6rem;
}
.plan-details {
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4.8rem;
}
.action-heading {
  font-size: 3.6rem;
  color: #222;
  margin-bottom: 2.4rem;
}
.cta-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.7px;
  color: #4a1f02;
  margin-bottom: 3.2rem;
}

.section-cta {
  /*top/horizoltel/bottom*/
  padding: 4.8rem 0 9.6rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #f76707, #f59f00);
  /* height: 50rem; */
  border-radius: 12px;
  box-shadow: 0 1.2rem 3.2rem #ffc078;
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #4a1f02;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(247, 103, 7, 0.35),
      rgba(245, 159, 0, 0.34)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.8; */
}
.cta .heading-secondary {
  margin-bottom: 3.2rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;

  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form select,
.cta-form input {
  width: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
  border-radius: 9px;
  background-color: #fff4e6;
  border: none;
  font-family: inherit;
  box-shadow: 0 0 1rem #fff4e6;
}

.btn--form {
  align-self: end;
  padding: 1.2rem;
  border: none;
  background-color: #4a1f02;
  color: #fff4e6;
  font-size: 1.6rem;
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0px 0px 2.4rem #fff4e6;
  border: 10px solid rgba(220, 245, 179, 0.829);
  border-radius: 12px;
}
.grid--5-cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 0.9px;
  color: #777;
}
.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 3.2rem;
}
.contact-text {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-top: 3.2rem;
}
.copyright {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.6;
  align-items: end;
  margin-top: auto;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  flex-direction: column;
}
